@mixin reg-btn {
  background-color: $Gdark;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 3px -1px rgba(0, 0, 0, 0.26);
  font-family: dynaPuff;
  font-size: rem(24px);
  color: $Glight;
  text-shadow: #000000 1px 1px 0;
  &:hover {
    cursor: pointer;
    background-color: $Glight;
    color: $Gdark;
    text-shadow: #ffffff 1px 1px 0;
  }
}
