@font-face {
  font-family: amatic;
  src: url("./src/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: amaticBold;
  src: url("./src/assets/fonts/Amatic_SC/AmaticSC-Bold.ttf");
}
@font-face {
  font-family: caveat;
  src: url("./src/assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}
