//MAIN COLORS
$mainGreen: #89bd9e;
$mainMagenta: #8b1e3f;
$mainPurple: #3c153b;
$mainYellow: #f0c987;
$mainRed: #db4c40;

//GREENS
$Gbcg: #b2f7ce;
$Gdark: #32784e;
$Glight: #8dc4a3;
$Gbright: #68f9a2;

//REDS
$Rbcg: #e68f87;
$Rdark: #613c39;
$Rlight: #ad3d32;
$Rbright: #e03727;
